<% action = (@sub.persisted? ? sub_url(@sub) : subs_url )%>
<% method = (@sub.persisted? ? "patch" : "post" ) %>
<% message = (@sub.persisted? ? "Update #{@sub.name} " : "Create Subreddit") %>

<form action="<%= action %>" method="post">
  <input
    name="_method"
    type="hidden"
    value="<%= method %>">
  <input
    name="authenticity_token"
    type="hidden"
    value="<% form_authenticity_token %>">

  <%= render "name" unless @sub.persisted? %>


  <br>
  <label for="sub_description">Description</label>
  <br>
  <textarea id="sub_description" type="password" name="sub[description]"></textarea>
  <br>
  <input type="submit" value="<%= message %>">
</form>
